body {
	background: url(../images/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fff;
}

body.reglas {
	background: #5ba4a0;
	color: #fff;
}

.navbar-brand img {
	width: 100px;
}

.navbar-expand-sm .navbar-nav .nav-link {
	text-transform: uppercase
}

h1 {
	font-weight: 800;
	color: #fff
}

.top-fix {
	margin-top: -0.8em;
}

.expired-days {
	opacity: 0.4
}


#legal {
	background: #ae052a
}

#legal a {
	text-decoration: underline;
	color: #fff;
}

@media (max-width: 768px) {
	body {
		background: url(../images/bg-mobile.jpg) no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.navbar-brand img {
		width: 60px;
	}
	.star {
		width: 100px;
	}
	.top-fix {
		margin-top: -0.5em;
	}

}